.App {
  background-color: rgb(243, 243, 243);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 3fr;
  grid-template-areas: 
  "sidebar reviews avgRating sentiAnaly"
  "sidebar webVisitors webVisitors webVisitors";
  text-align: center;
}



.Sidebar {
  grid-area: sidebar;
}
.Reviews {
  grid-area: reviews;
}
.avgRating {
  grid-area: avgRating;
}
.SentiAnaly {
  grid-area: sentiAnaly;
}
.WebVisitors {
  grid-area: webVisitors;
}

